@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Chewy&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
html {
  font: 150%/1.4 Roboto, sans-serif;
}
/* STEP 3: Apply a background gradient image to the page (http://colorzilla.com/gradient-editor/) */
body {
  background: linear-gradient(to bottom, #2568ba 0%, #a2c8e5 50%);
}
#container {
  margin: 1rem;
}
/* STEP 4: CSS Image Replacement (https://css-tricks.com/the-image-replacement-museum/) */
header h1 {
  height: 160px;
  width: 250px;
  background: url("../images/silly-putty.png") no-repeat;
}

header h1 strong {
  visibility: hidden;
}
/* STEP 5: Add the 'Chewy' font from Google's Font Service and apply it to all H2 and H3 elements - add the @import to the top of the CSS file */
h2,
h3 {
  font-family: Chewy;
}

#transforms h3:nth-of-type(2) {
  display: inline-block;
  outline: 2px dashed yellow;
  transform-origin: 10px 10px 10px;
  /* transform: rotateX(45deg); */
  /* transform: rotateY(45deg); */
  /* transform: rotateZ(45deg); */
  /* transform: rotate(30deg); */
  transform: rotate3d(1, 1, 1, 300deg);
}
