@charset "utf-8";

/* From the great tutorial by Juan Martín García at https://css-tricks.com/look-ma-no-media-queries-responsive-layouts-using-css-grid/ 
   Play with the CodePen at https://codepen.io/imjuangarcia/pen/pGgmbe */

/* Typography imported from Google Fonts */
@import url("https://fonts.googleapis.com/css?family=Playfair+Display|Source+Sans+Pro:200,400");

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
}

p,
a {
  font-family: "Source Sans Pro", sans-serif;
}

/* Generic styles */
html {
  scroll-behavior: smooth;
}

a {
  background-color: goldenrod;
  text-decoration: none;
  color: white;
  border-radius: 0.25rem;
  text-align: center;
  display: inline-block;
  transition: all 0.3s;
}

a:hover {
  opacity: 0.6;
}

/* Styles for the hero image */
.hero {
  /* Photo by mnm.all on Unsplash */
  background: url("https://images.unsplash.com/photo-1518176258769-f227c798150e")
    center;
  background-size: cover;
  padding: 4rem 2rem;
  /* grid styles */
  display: grid;
  /* STEP 1: This will result in four columns, each one of 1fr */
  /* grid-template-columns: 1fr 1fr 1fr 1fr */

  /* STEP 3: This is the same as grid-template-columns: 1fr 1fr 1fr 1fr; */
  /* grid-template-columns: repeat(4, 1fr); */
  /* STEP 5: Set a minmax for each column */
  /* grid-template-columns: repeat(4, minmax(240px, 1fr)); */
  /* STEP 2: This will result in two rows, each one of 300px */
  /* grid-template-rows: 300px; */
  /* STEP 4: This is the same as grid-template-rows: 300px 300px; */
  /* grid-template-rows: repeat(2, 300px); */
  /* STEP 6: Reduce the rows to one */
  grid-template-rows: 300px;

  /* STEP 7: Include the auto-fit property into the mix */
  grid-template-columns: repeat(auto-fit, clamp(240px, 25%, 400px));

  align-items: center;
}

.hero > * {
  color: white;
}

.hero > h1 {
  font-size: 4rem;
  padding-bottom: 1rem;
}

.hero > article > p {
  font-size: 1.5rem;
  font-weight: 200;
}

.hero > article > a {
  padding: 1rem;
  margin-top: 0.75rem;
}

/* breweries styles */
.breweries {
  padding: 2rem;
}

.breweries > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  /* STEP 8: Modify the breweries grid into a responsive layout with repeat(), auto-fit, and minmax() */
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

.breweries > ul > li {
  border: 1px solid #e2e2e2;
  border-radius: 0.5rem;
}

.breweries > ul > li > figure {
  max-height: 220px;
  overflow: hidden;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  position: relative;
  margin: 0;
}

.breweries > ul > li > figure > img {
  width: 100%;
}

.breweries > ul > li > figure > figcaption {
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
}

.breweries > ul > li > figure > figcaption > h3 {
  color: white;
  padding: 0.75rem;
  font-size: 1.25rem;
}

.breweries > ul > li > p {
  font-size: 1rem;
  line-height: 1.5;
  padding: 1rem 0.75rem;
  color: #666666;
}

.breweries > ul > li > a {
  padding: 0.5rem 1rem;
  margin: 0.5rem;
}

/* footer */
footer {
  background-color: #333;
  padding: 0.75rem;
  color: white;
  text-align: center;
  font-size: 0.75rem;
}
